<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>{{post.title}}</h2>
    <p>{{post.postContent}}</p>
  </div>
</div>

<textarea name="commentBody" id="commentText" cols="30" rows="10"></textarea>
<button type="button" id="comment">Add Comment</button>

{{#each comments as |comment|}}
  <p>{{comment.text}}</p>
  <p>Posted by {{comment.user.username}} on {{format_date comment.createdAt}}</p>
  <button type="button" class="delete" data-id="{{comment.id}}">Delete</button>
{{/each}}

<script src="/js/newComment.js"></script>